# Node.js genel geçici dosyaları
/node_modules
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.test
.env.production

# Cypress configuration and screenshots/videos
cypress/screenshots/
cypress/videos/
cypress/downloads/
/cypress/coverage

# Cypress cache and debug logs
.cypress_cache/
cypress.log

# Cypress yapılandırma dosyaları
/cypress.env.json
/cypress.config.js
/cypress.json

# Cypress report dosyaları
/cypress/reports

# Output of 'npm pack'
*.tgz

# IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

